section {
    min-height: 100%;
    /* border: 2px solid black;
    background-color: deepskyblue; */
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 columns */
    /* background-color: #f9f9f9; */

}

aside {
    grid-column: span 7;
    border-right: 2px solid #C0C0C0;
}

main {
    grid-column: span 5;   
}


