<div class="dialog-container-style">

  <div mat-dialog-content>
    <button mat-button mat-dialog-close (click)="cancelButton()">Cancel</button>

    <img mat-card-image class="dialog-img-style" src="{{data.image_path}}" id="{{data.product_id}}" alt="product Photo">

    <div> {{data.price}}&#8362; </div>
    <div> {{data.product_name}} </div>
    <!-- <div>need to add description</div> -->

  </div>
  <div mat-dialog-actions>

    <div class="stepper-input stepper__input">
      <button mat-raised-button class="mat-button toggle-less" (click)="toggleLess()">-</button>
      <span class="stepper-input-field" name="range-value" aria-atomic="true" aria-live="polite" aria-relevant="all">
        {{renderedValue}}
      </span>
      <button mat-raised-button class="mat-button toggle-more" (click)="toggleMore()">+</button>
    </div>

    <button mat-button (click)="addToCart(data)">Add to cart</button>
  </div>

</div>