<!-- <div class="signinContainer">
  
    <form>
        <div>
            <input type="number" placeholder="ID" name="username" [(ngModel)]="userLoginDetails.userName"><br>
            <input type="email" placeholder="Email" name="username" [(ngModel)]="userLoginDetails.userName"><br>
            <input type="password" placeholder="Password" name="password" [(ngModel)]="userLoginDetails.password"><br>
            <input type="password" placeholder="confirm Password" name="password" [(ngModel)]="userLoginDetails.password"><br>
        </div>
        
        <div *ngIf=>
            <input type="text" placeholder="City" name="City" [(ngModel)]="userLoginDetails.userName"><br>
            <input type="text" placeholder="Street" name="Street" [(ngModel)]="userLoginDetails.userName"><br>
            <input type="text" placeholder="Name" name="Name" [(ngModel)]="userLoginDetails.userName"><br>
            <input type="text" placeholder="Last Name" name="Last Name" [(ngModel)]="userLoginDetails.userName"><br>
            
            <input type="button" (click)="submitSignUp()" value="submit" />
        </div>

    </form>

</div> -->




<div class="signinContainer">
  
    <form>
        <div>
            <input type="number" placeholder="ID" name="username"><br>
            <input type="email" placeholder="Email" name="username"><br>
            <input type="password" placeholder="Password" name="password"><br>
            <input type="password" placeholder="confirm Password" name="password"><br>
        </div>
        
        <!-- <div *ngIf=> -->
        <div>
            <input type="text" placeholder="City" name="City"><br>
            <input type="text" placeholder="Street" name="Street"><br>
            <input type="text" placeholder="Name" name="Name"><br>
            <input type="text" placeholder="Last Name" name="Last Name"><br>
            
            <!-- <input type="button" (click)="submitSignUp()" value="submit" /> -->
        </div>

    </form>

</div>