<div class="child-header-style">
    <div class="child-vertical-center">
        <h2>Cart Summary</h2>
    </div>
</div>

<table class="table-container">

    <thead>
        <tr class="table-row">
          <th>Product name</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-row" *ngFor="let cartItem of cartItems">
          <td>{{ cartItem.product_name }}</td>
          <td>{{ cartItem.quantity }}</td>
          <td>{{ cartItem.price * cartItem.quantity | currency:'ILS' }}</td>
        </tr>
      </tbody>
      <tr>
        <td></td>
        <td></td>
        <td><strong>Total Price: {{sumUpTotalPrice() | currency:'ILS'}}</strong></td>
      </tr>

</table>

