
<div class="container-style">
    <div class="vertical-center">


<form [formGroup]="loginForm">
  
  <div >
      <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" >
          <mat-error *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
              {{ getErrorEmail() }}
          </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
          <mat-error *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
              {{ getErrorPassword() }}
          </mat-error>
      </mat-form-field>
      <br>
      <br>
      <div>
        <button mat-raised-button style="margin: 5px;" (click)="login()" value="Login">login</button>
        <a mat-raised-button style="margin: 5px;" (click)="openRegistrationDialog()" type="button" >register</a>
      </div>
  </div>

</form>

</div>
</div>
