<section>

    <!-- <header>
        <app-menu></app-menu>
    </header> -->

    <!-- might need to change the aside - it shulde serve the admin as well -->
    <aside>
        <app-my-cart></app-my-cart>
    </aside>

    <main>
        <router-outlet></router-outlet>
    </main>









    <!-- <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side" opened class="example-sidenav">

          <aside>
            <button mat-button (click)="sidenav.toggle()">Toggle</button>
            <app-my-cart></app-my-cart>
        </aside>
    
        </mat-sidenav>

    
        <mat-sidenav-content [formGroup]="options" class="main-class">   

            <main>
                <router-outlet></router-outlet>
            </main>
        
        </mat-sidenav-content>
      </mat-sidenav-container>
 -->



</section>