.form-div {
    margin-top: 100px;
}

.field-style {
    width: 25%;
    min-width: 250px;
}

.back-button-style {
    right: 40%;
    top: 10px;
}

.order-header-style {
    /* background-color: rebeccapurple !important; */
    background-color: blueviolet !important;
}